@using EntityLayer.Concrete
@model List<Heading>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Headings</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Heading Name</th>
        <th>Category</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.HeadingId</th>  
            <td>@item.HeadingName</td>  
            <td>@item.Category.CategoryName</td>  
        </tr>

    }

</table>

<br />

<a href="/Heading/AddHeading" class="btn btn-info">Add new Heading</a>