@using EntityLayer.Concrete
@model List<About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>About Us Data List</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>About us Header</th>
        <th>Make it Active</th>
        <th>Make it Passive</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AboutId</th>  
            <th>Heading</th>  
            <th><a href="#" class="btn btn-warning">Make it Active</a> </th>  
            <th><a href="#" class="btn btn-danger">Make it Passive</a> </th>  
        </tr>  
    }
</table>

@Html.Action("AboutAddPartial", "About")