
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>To do List</h2>
<br />
<p>#1  -> Search box in headings</p>
<p>#2  -> Writers Images</p>
<p>#3  -> Graphs</p>
<p>#4  -> Vitrin</p>
<p>#5  -> Search operation in Inbox</p>
<p>#6  -> Authorizations</p>
<p>#7  -> ErrorPages</p>
<p>#8  -> Go to web site</p>
<p>#9  -> Upload the web site to the internet</p>
<p>#10 -> Server name</p>
<p>#11 -> Deploy the web site</p>
<p>#12 -> Take report of one of the table </p>
