
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>ToDoList</h2>
<br />
<p>#1 Profile Page</p>
<p>#2 All Headings Filtering</p>
<p>#3 Pagination in All Headings</p>
<p>#4 Moving the login system in N-layer</p>
<p>#5 Token Kullanimi</p>

